.leftbar {
    width: 220px;
    height: 1024px;
    background-color: #1A101A;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    width: 100%;
    height: 100px;
    font-size: 24px;
    text-align: center;
    background-color: #1A101A;

}

.header-image {
    width: 62px;
    height: 56px;
}

.user-list {
    flex: 1;
    overflow-y: auto;
    /* Scrollable user list */
    padding: 10px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    /* Divider between users */
}

.avatar {
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.message-input {
    padding: 10px;
    border-top: 1px solid #444;
    /* Divider above input */
}

.message-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}